.footer {
    background-color: #444240;

    &__body {
        padding: 80px 0 65px 0;
        color: #ffffff;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        @media (max-width: $md3+px) {
            padding: 20px 0;
            justify-content: space-between;
            gap: 20px;
        }
    }

    &__col {
        display: flex;
        flex-direction: column;

        @media (max-width: $md3+px) {
            text-align: center;
            flex: 1 1 calc(50% - 20px);
        }

        @media (max-width: $md4+px) {
            flex: 1 1 100%;
        }
    }

    &__logo {
        margin-bottom: 20px;
    }

    &__link {
        cursor: pointer;

        &:not(&:last-child) {
            margin-bottom: 15px;
        }

        transition: color 0.3s ease 0s;
        @media (hover: hover) {
            &:hover {
                text-decoration: underline;
                color: #d4b098;
            }
        }
    }

    &__title {
        flex: 0 0 35px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        @media (max-width: $md3+px) {
            justify-content: center;
        }
    }
}
